PORT=4000

# === FOR DOCKER
DATABASE_URL=postgresql://${USER}:${PASSWORD}@host.docker.internal:${PORT}/${DB_NAME}

# === FOR LOCALHOST {Your Own System computer}
DATABASE_URL=postgresql://${USER}:${PASSWORD}@localhost:${PORT}/${DB_NAME}